<!-- reviews-index -->

<h1>Reviews</h1>

<script>
fuction charity_domain()
{
    var domain = document.getElementById("domain").value;
    var charity = String;
    //
    if (domain == "Education") {
        charity = "Children's Scholarship Fund";
    }
    else if (domain == "Civil Rights") {
        charity = 
    }
    // elif domain ==
    // elif domain ==
    document.getElementById("domain").value=
}
</script>

<p>
    Your domain is:
    <!-- <input type="text" id="domain" size="20"> -->
    <select id="domain" onchange="charity_domain()">
        <option>Education</option>
        <option>Civil Rights</option>
        <option>Enviorment</option>
    </select>
</p>

<a href="/reviews/new">
    Donate today!
</a>

{{#each charities}}
    <h2>
        <a href="/reviews/{{"this._id"}}">
            {{"this.title"}}
        </a>
    </h2>
    <h4>
        {{this.domain}}
    </h4>
    <small>
        {{this.location}}
    </small>
    <small>
        {{this.score}}
    </small>
{{/each}}

<br>
